* {
  margin: 0px;
}

body {
  font-family: sans-serif;
}

.cont {
  background-color: rgba(0, 0, 0, 0.5019607843);
  width: 100%;
  height: 780px;
  background-image: url("./images/image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.cont:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/image.jpg");
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: auto;
  padding-top: 30px;
  color: white;
}
.navbar h1 {
  font-size: 24px;
  font-weight: 700;
}
.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
  font-size: 14px;
  font-weight: 600;
}
.navbar button {
  width: 190px;
  height: 52px;
  background-color: #23A6F0;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  color: white;
  border: none;
}

.divleft {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.divleft h1 {
  font-size: 58px;
  font-weight: 800;
  width: 509px;
  color: white;
}
.divleft h4 {
  width: 376px;
  font-size: 20px;
  font-weight: 500;
  color: white;
}

.btn {
  display: flex;
  gap: 10px;
  align-items: center;
}
.btn button:first-child {
  padding: 15px 40px;
  background-color: #23A6F0;
  border-radius: 37px;
  font-weight: 700;
  color: white;
  border: none;
}
.btn button:last-child {
  padding: 15px 30px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 37px;
  font-weight: 700;
  color: white;
  border: 1px solid white;
}

.divright img {
  width: 300px;
}

.header2 {
  display: flex;
  max-width: 1100px;
  margin: auto;
  margin-top: 70px;
  justify-content: space-between;
  align-items: center;
}

.header1, .color {
  margin-top: 100px;
}
.header1 h1, .color h1 {
  font-weight: 700;
  font-size: 40px;
  color: #252B42;
  text-align: center;
}
.header1 h4, .color h4 {
  margin: auto;
  margin-top: 15px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  width: 370px;
  color: #737373;
}

.big {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.boxs {
  width: 310px;
  height: 370px;
  border: 1px solid #D9EDFF;
  border-radius: 10px;
}

.box1 {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 311px;
  height: 125px;
  background-color: #8EC2F2;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.box1 img {
  width: 72px;
  height: 72px;
}
.box1 h3 {
  font-size: 16px;
  font-weight: 700;
  color: white;
}

.box2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 17px;
  width: 310px;
  height: 245px;
  border: 1px solid #A9D6FF;
  border-radius: 11px;
}
.box2 p {
  padding-left: 30px;
  color: #737373;
  font-size: 14px;
  font-weight: 600;
  text-align: start;
}
.box2 h5 {
  padding-left: 30px;
  margin-top: 7px;
  color: #23A6F0;
  font-size: 14px;
  font-weight: 600;
}

.mnavbar {
  display: none;
}

.color {
  padding-top: 100px;
  background-color: #FAFAFA;
}

.items {
  padding-bottom: 200px;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.item1 {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 25px;
  width: 250px;
  height: 160px;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  background-color: white;
}
.item1 p {
  font-size: 14px;
  font-weight: 600;
  width: 234px;
  color: #737373;
}
.item1 img:first-child {
  width: 130px;
  height: 22px;
}
.item1 img:last-child {
  width: 50px;
  height: 50px;
}

.kartaho {
  max-width: 1100px;
  margin: auto;
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.karta {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  padding: 25px;
  width: 280px;
  height: 80px;
  border-radius: 9px;
  background-color: white;
}
.karta h5 {
  font-size: 16px;
  font-weight: 700;
  width: 239px;
  color: #252B42;
}
.karta h6 {
  font-weight: 400;
  font-size: 14px;
  color: #737373;
  width: 211px;
}
.karta div {
  display: flex;
  gap: 17px;
}
.karta img {
  width: 8.62px;
  height: 16px;
}

.karta1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  padding: 25px;
  width: 280px;
  height: 80px;
  border-radius: 9px;
  background-color: white;
}
.karta1 h5 {
  font-size: 16px;
  font-weight: 700;
  width: 239px;
  color: #252B42;
}
.karta1 h6 {
  font-weight: 400;
  font-size: 14px;
  color: #737373;
  width: 211px;
}
.karta1 div {
  display: flex;
  gap: 17px;
}
.karta1 img {
  width: 8.62px;
  height: 16px;
}

@media (max-width: 510px) {
  .karta1 {
    display: none;
  }
  .karta {
    margin: auto;
    width: 240px;
  }
  .kartaho {
    margin-top: 40px;
  }
  .color {
    margin-top: 50px;
    padding-top: 50px;
  }
  .item1 {
    margin: auto;
    width: 240px;
    height: 150px;
  }
  .items {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
  }
  .boxs {
    margin: auto;
    width: 290px;
  }
  .box1 {
    width: 291px;
  }
  .box2 {
    width: 290px;
  }
  .header1 h1, .color h1 {
    margin: auto;
    width: 300px;
  }
  .header1 h4, .color h4 {
    width: 240px;
  }
  .big {
    display: flex;
    flex-direction: column;
  }
  .divleft {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  .divleft h1 {
    text-align: center;
    margin: auto;
    font-size: 40px;
    font-weight: 700;
    width: 313px;
    color: white;
  }
  .divleft h4 {
    margin: auto;
    text-align: center;
    width: 250px;
    font-size: 20px;
    font-weight: 500;
    color: white;
  }
  .btn {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .divright img {
    margin-top: 80px;
    width: 250px;
  }
  .header2 {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
  }
  .mnavbar {
    display: block;
    height: 420px;
    background-color: #F6F6F6;
  }
  .mnavbar ul {
    margin-top: 80px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    font-size: 30px;
    font-weight: 400;
    color: #737373;
  }
  .mnavbar h1 {
    font-size: 24px;
    font-weight: 700;
  }
  .box {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    gap: 70px;
    align-items: center;
  }
  .images {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .navbar {
    display: none;
  }
  .cont {
    width: 100%;
    height: 1101px;
    background-image: url("./images/background (2).png");
  }
}/*# sourceMappingURL=style.css.map */